<%= form_for @recipe, html: { :multipart => true } do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :category %><br>
    <%= form.select :category, options_for_select(['Primo piatto', 'Secondo piatto', 'Antipasto', 'Contorno', 'Dolce'], selected: @recipe.category) %>
  </div>

  <div>
    <%= form.label :dosage %><br>
    <%= form.select :dosage, options_for_select(['2 Persone', '4 Persone', '6 Persone'], selected: @recipe.dosage) %>
  </div>

  <div>
    <%= form.label :preparation %><br>
    <%= form.text_field :preparation %>
  </div>

  <div>
    <%= form.label :difficulty %><br>
    <%= form.select :difficulty, options_for_select(['Bassa', 'Media', 'Alta'], selected: @recipe.difficulty) %>
  </div>

  <div>
    <%= form.label :ingredients %><br>
    <%= form.text_area :ingredients %>
  </div>

  <div>
    <%= form.label :steps %><br>
    <%= form.text_area :steps %>
  </div>

  <div>
      <%= form.label :link, 'YouTube' %>
      <%= form.url_field :link, :class => "form-control", :placeholder => "Youtube link", :pattern => "(?:https?:\/\/)?(?:youtu\.be\/|(?:www\.)?youtube\.com\/watch(?:\.php)?\?.*v=)([a-zA-Z0-9\-_]+)" %>

  <div>
    <%= form.submit "Save Changes" %>
  </div>
<% end %>

