%h2 My Recipes 

- if @recipes.empty?
    %p No recipe added!
- else
    %br
    - @recipes.each do |c|
        = link_to "#{c.title}", recipe_path(c.id), :class => 'btn btn-outline-success'
        - if !current_user.is_banned?
            - if can? :destroy, Recipe
                = link_to 'Delete recipe', recipe_path(c.id), :method => :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-outline-primary btn-sm'
            - if can? :edit, Recipe
                = link_to 'Edit recipe', edit_recipe_path(c.id), :class => 'btn btn-outline-danger btn-sm'
        %br
        %br
%hr
- if !current_user.is_banned?
    = link_to "Add A New Recipe", new_recipe_path, class: "btn btn-sm btn-info"
%br
= link_to 'Back to recipe list', recipes_path
