<!DOCTYPE html>
<html>
  <head>
    <title>ProjRecipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.13/css/all.css' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/simplex/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.min.js'%>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <% if user_signed_in? %>
          <a class="navbar-brand" href="/recipes"> Recipes </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/users/edit"> Setting </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/users/favorites"> Favorites </a>
              </li>            
              <li class="nav-item">
                <a class="nav-link active" href="/users/myrecipes"> My Recipes </a>
              </li>
            </ul>
          </div>
        <% else %>
          <a class="navbar-brand" href="<%= recipes_path %>"> Recipes </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="/users/signup"> Signup </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/users/sign_in"> Login </a>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <hr>
    <% if user_signed_in? %>
      Logged in as <%= current_user.email%> [<%= link_to 'Logout', destroy_user_session_path, :method => :delete%>]
    <% end %>
    <% if not flash.empty? %> 
      <hr>
      <h3>Notifications:</h3>
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
